:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --bg-scuro: #000;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --btn-da-fare: #ff3b7c;
  --btn-completate:rgb(75, 255, 59);
  --btn-elimina:rgb(255, 59, 59);
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-scuro);
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color: var(--accent);
  padding: 20px;
}

.box-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box-input{
  display: flex;
  gap: 10px;
}

#inputAttivita{
  padding: 10px;
  width: 300px;
  background-color: transparent;
  border: 2px solid var(--border);
  border-radius: 10px;
}

#inputAttivita::placeholder{
  color: var(--text);
}

#btn, .btn-filtri, .btn-elimina{
  border: 2px solid var(--border);
  border-radius: 10px;
  width: 100px;
}

#btn:hover{
  color: #000;
  background-color: var(--border);
}

#filtri{
  display: flex;
  gap: 20px;
  padding: 10px;
}

.btn-filtri, .btn-elimina{
  padding: 5px;
}

.btn-filtri:first-child{
  color: var(--accent);
  border-color: var(--accent);
}

.btn-filtri:first-child:hover{
  color: #000;
  background-color: var(--accent);
}

.btn-filtri:nth-child(2){
  color: var(--btn-da-fare);
  border-color: var(--btn-da-fare);
}

.btn-filtri:nth-child(2):hover{
  color: #000;
  background-color: var(--btn-da-fare);
}

.btn-filtri:last-child{
  color: var(--btn-completate);
  border-color: var(--btn-completate);
}

.btn-filtri:last-child:hover{
  color: #000;
  background-color: var(--btn-completate);
}

#lista{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.completata{
  text-decoration: line-through;
}

.btn-elimina{
  width: 80px;
  border: 2px solid var(--btn-elimina);
  color: var(--btn-elimina);
  margin-left: 20px;
}

.btn-elimina:hover{
  color: #000;
  background-color: var(--btn-elimina);
}
